repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes"]
  - repo: https://github.com/tox-dev/tox-toml-fmt
    rev: "v1.7.2"
    hooks:
      - id: tox-toml-fmt
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.16.2"
    hooks:
      - id: pyproject-fmt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.2"
    hooks:
      - id: ruff-format
      - id: ruff
        args: ["--fix", "--unsafe-fixes", "--exit-non-zero-on-fix"]
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
